.img {
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-top: 10px;
}

.h1 {
  color: white;
}

.centeredFlex {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  height: 100vh; /* Optional: Takes full viewport height */
}